/* Reset biar konsisten */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio Iqbal</title>
  <link rel="stylesheet" href="style.css">
</head>

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  background: #f9f9f9;
  color: #333;
}

/* Navbar */
header {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 8px r
